@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Roboto', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
}

.gradient-hover {
  background-size: 200% 200%;
  transition: all 0.3s ease;
  background-image: linear-gradient(45deg, #007BFF 0%, #6A0DAD 100%);
}

.gradient-hover:hover {
  background-position: right center;
}